/*
* auto: wsm
* time:2018-4-26
*/

.weui-badge{
    padding: 0.15em 0.4em;
    display: inline-block;
    min-width: 8px;
    border-radius: 18px;
    background: #f43530;
    color: #ffffff;
    line-height: 1.2;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;/*垂直居中*/
}